@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
  --background-main : #FCE355a8;
  --yellow: #FCE355;
  --black: #2c2c22;
  --green: #77bc1f;
  --dark: #000000;
}

html{
  scroll-behavior: smooth;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Encode Sans Expanded', sans-serif;
  background-color: var(--background-main);
  scroll-behavior: smooth;  
 
}

::-webkit-scrollbar {
  display: none;
}

/* KeyFrames */

@keyframes fade {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

@keyframes slideRight {
  from{
    margin-right: 500px;
  }to{
    margin-right: 0px;
  }
}

/* End KeyFrames */
