@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
  --background-main : #F3AB33;
  --yellow: #FCE355;
  --black: #2c2c22;
  --green: #77bc1f;
  --dark: #05161D;
  --orange: #F3AB33;
  --turquoise: #004F4C;
  --blue: #103A39;
  --darkBlue: #05161D;
}

body{
  scroll-behavior:smooth;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Encode Sans Expanded', sans-serif;
  background-color: var(--background-main);
  scroll-behavior: smooth;  
 
}

::-webkit-scrollbar {
  display: none;
}

/* KeyFrames */

@keyframes fade {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

@keyframes slideRight {
  from{
    margin-right: 500px;
  }to{
    margin-right: 0px;
  }
}

@keyframes slideUp {
  from{
    margin-bottom: 500px;
  }to{
    margin-bottom: 0px;
  }
}

@keyframes fromUp {
  from{
    top: 80px;
  }to{
    top: 70%;
  }
}

@keyframes rotate {
  from{
    transform:rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
  
}

/* End KeyFrames */
