.images-slider-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    animation: fade 1s ease-in-out both;
    margin-bottom: 100px;
}

.images-slider-container h1{
    font-size: 64px;
    margin-bottom: 20px;
}

.images-slider-container img{
    width: 400px;
    border-radius: 20px;
}

.images{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1230px){
    .images-slider-container{
        justify-content: center;
        align-items: center;
    }
    .images{
        display: flex;
        flex-direction: column;
    }   

    .images img{
        margin-bottom: 50px;
        width: 360px;
    }
}   

@media(max-width: 800px){
    .images-slider-container{
        justify-content: center;
        align-items: center;
    }

    .images{
        display: flex;
        flex-direction: column;
    }

    .images img{
        margin-bottom: 50px;
        width: 360px;
    }
}

@media(max-width: 600px){
    .images-slider-container h1{
        font-size: 30px;
    }
    
}
