.main-container{
    margin: 0 auto;
    width: 1440px;    
    background-color: white;
}

.main-span{
    width: 100%;
    height: 600px;
    background-image: url('../static/main-span.jpg');
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fade 1s ease-in-out both;
    text-align: center;
}

.main-span h1{
    font-size: 64px;    
    animation: slideRight 1s ease-in-out both;
}

.main-span h2{    
    animation: slideRight 1s ease-in-out both;
}

.btn-gym{    
    text-align: center;
    text-decoration: none;   
    color: var(--black);
    background-color: var(--yellow);
    width: 30vh;    
    height: 55px;
    border-radius: 75px;
    font-size: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideRight 1s ease-in-out both;
}

.btn-gym:hover{
    background-color: var(--black);
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in-out;
}


.main-text-container{
    margin-top: 30px !important;
    width: 100%;
    margin: 0 auto;
    text-align:center;
    font-size: 30px;
    color: var(--black);
    font-weight: 900;
    animation: fade 1s ease-in-out both;
}

.main-text-options-container{ 
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    color: var(--black);
    animation: fade 1s ease-in-out both;
}

.main-text-options-container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.main-text-options-container ul li{
    margin-top: 10px;
}

.main-text-options-container ul  li  img{
    height: 50px;
    margin-right: 20px;
}

.plans-container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;   
}

.plans-options-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;    
}

.plans-container h1{
    margin-bottom: 20px;
}

.plans-option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    font-weight: 800;
    color: var(--black);
}

.plans-option img{
    margin-bottom: 10px;
}

.plans-button{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.end-banner{
    margin-top: 25px;
    background-image: url('../static/gym-img-1.png');
    height: 600px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-size: 64px;
    color: white;
}


/* Media Querys */
@media(max-width: 1442px){
    .main-container{
        width: 100%;
    }
}

@media(max-width: 411px){
    .users-main-container{
        width: 90%;
    }
    .main-text-options-container{
        flex-direction: column;
    }

    .plans-options-container{
        flex-direction: column;
    }
    .plans-option{
        margin-bottom: 25px;
    }
    .end-banner{
        text-align: center;
    }

    .main-span{
        text-align: center;
    }
}
@media(max-width: 360px){

} 